*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-wrap: wrap;
}
:root{
    --gray-1: #fafaf9;
    --gray-2: #e7e5e4;
    --primary: #084c61;
    --accent: #fa3a6d;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}


body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 5fr;
}

/*------------ NAVBAR */

.navbar{
    position: sticky; /*for postion-> sticky*/
    top: 0;
    z-index: 100;
    
    background-color: var(--gray-1);
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 5px 15px 15px 15px;
    box-shadow: var(--shadow);
}

.navbar-row1,.navbar-row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-row1-left,.navbar-row1-right,.navbar-row2-left,.navbar-row2-right{
    display: flex;
    align-items: center;
    gap: 25px;
}
.navbar-row1-right>img{
    width: 40px; 
    height: 40px; 
    object-fit: cover; /* Resize the image to cover the entire container */
    border-radius: 50%;
}
.navbar-row2-left>img{
    width: 70px; 
    height: 65px; 
    object-fit: cover; /* Resize the image to cover the entire container */
    border-radius: 50%;
}

form{
    display: flex;
    align-items: center;
    gap: 7px;
}
form>input{
    height: 35px;
    width: 400px;
    border-radius: 30px;
    border: none;
    padding: 5px 5px 5px 20px;
    background-color: var(--gray-2);
}
form>input:focus{
    outline: none;
}

.navbar button{
    width: 120px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: var(--primary);
    font-weight: bold;
    color: azure;
    transition: background-color 0.8s ease;
}
.navbar button:hover{
    background-color: var(--accent);
    color: #1c1917;
    cursor: pointer;
}
#bell{
    width: 25px; 
    height: 25px; 
    object-fit: cover; 
    transition: 0.3s ease;
}
#bell:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/* ------------- SIDEBAR */

.sidebar{
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: var(--primary);
    color: azure;
    display: grid;
    grid-template-rows: 200px 2fr 1fr;
    padding: 15px 15px 15px 10px;
    justify-items: start;
}
.logo-container>div{
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 0px;
}
li{
    list-style-type: none;
    width: 180px;
    padding: 5px;
    border-radius: 10px;
    transition: background-color 0.8s ease;
}
li:hover{
    background-color: var(--accent);
    color: #1c1917;
    cursor: pointer;
}
#home{
    background-color: var(--accent);
    color: #1c1917;
    cursor: pointer;
}
.menu-top>ul,.menu-bot>ul{
    display: grid;
    gap: 60px;
}
.menu-top li,.menu-bot li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
}
.menu-top img,.menu-bot img{
    width: 35px; 
    height: 35px; 
    object-fit: cover; 
}
.menu-bot{
    display: grid;
    align-items: end;
}
#main-logo{
    width: 50px; 
    height: 50px; 
    object-fit: cover;
}

/* ------------------ CONTENT */

.content{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--gray-2)
}


.content-left{
    display: grid;
    grid-template-columns: repeat( auto-fit,minmax(250px,1fr) );
    gap: 35px;
    padding: 20px 40px;
}
.content-left>h2{
    grid-column-start: 1;
    grid-column-end: -1;
}
.content-left span{
    display: flex;
    gap: 20px;
}
.content-left span>img{
    width: 30px; 
    height: 30px; 
    object-fit: cover; 
}
.card{
    background-color: var(--gray-1);
    padding: 15px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    align-items: center;
    border-radius: 15px;
    border-left: 10px solid var(--accent);
    box-shadow: var(--shadow-lg);
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
}
.card>span{
    margin-left: auto;
    margin-top: auto;
}
.card img{
    transition: transform 0.3s ease;
}
.card img:hover{
    cursor: pointer;
    transform: scale(1.2);
}


.content-right{
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.content-right-top{
    display: grid;
    grid-template-rows: 30px auto;
    gap: 20px;
}
.top-cards{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: repeat( auto-fit,minmax(40px,1fr) );
    align-items: center;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    background-color: var(--gray-1);
    box-shadow: var(--shadow-lg);
}  
.top-cards p{
    font-weight: bold;
}
.content-right-bot{
    display: grid;
    grid-template-rows: 30px auto;
    gap: 20px;
}
.content-right-bot img{
    width: 50px; 
    height: 50px; 
    object-fit: cover; 
    border-radius: 50%;
}
.bot-cards{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding:0px 20px;
    border-radius: 20px;
    background-color: var(--gray-1);
    box-shadow: var(--shadow-lg);
}
.top-cards .small-card:nth-child(-n+2){  /*select 1st and 2nd .small-card*/
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    border-bottom: 1px solid var(--accent);
    align-items: center;
}
.top-cards .small-card:nth-child(3){  
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
}
.bot-cards .small-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
